.game-page {
  display: flex;
  justify-content: flex-start;
}

.game-details {
  flex: 0 0 25%;
  margin-right: 2rem;
}

.game-room {
  position: relative;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 2rem;
}

.users-container {
  margin-top: 1.5rem;
}

.indicator {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.indicator.not-ready {
  background-color: tomato;
}

.indicator.ready {
  background-color: green;
}

.user {
  margin-bottom: 0.5rem;
}

.user.you::after {
  content: "(you)";
  font-style: italic;
  margin-left: 0.5rem;
}

.progress-bar-wrapper {
  border: 1px solid black;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: lightgreen;
}

.progress-bar.done {
  background-color: limegreen;
  width: 100%;
}

.timer {
  color: #999;
  font-size: 3rem;
  font-weight: bold;
}

.game-text {
  display: flex;
  font-size: 1.5rem;
  user-select: none;
  word-spacing: 3px;
}

.game-text span {
  white-space: pre-wrap;
}

.game-text .correct {
  background-color: lightgreen;
}

.game-text .wrong {
  background-color: salmon;
}

.game-text .next {
  text-decoration: underline;
}

.time-left {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-style: italic;
}
