.rooms-container {
  display: flex;
  flex-wrap: wrap;
}

.room-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 2rem;
  height: 15rem;
  width: 20rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.create-room-button {
  margin-bottom: 1.5rem;
}
